spring.application.name=todo-app
spring.datasource.url=*******
spring.datasource.username=*********
spring.datasource.password=**********

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.security.secret=(only number and characters)
